.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}
