<div class="content mat-app-background" role="main" [ngClass]="{'dark-theme-mode' : isDarkTheme} ">




  <span [ngClass]="{'title': !isDarkTheme, 'title2' : isDarkTheme}">{{ title }} </span>
  <!-- <span class="title2">{{ title }} </span>-->

  <p>Drinks are best when mixed with friends!</p>

  <button mat-raised-button color=primary (click)="openDialog()">START</button>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]=isDarkTheme>dark mode</mat-slide-toggle>
  </div>




</div>

<router-outlet></router-outlet>
