.dark-theme-mode.mat-app-background {
  background-image: linear-gradient(to top, #350141, #2f023b, #290335, #23022f, #1f0029);
  color: white;
}

.dark-theme-mode .mat-raised-button.mat-primary {
  color: white;
}

::ng-deep .mat-card:not([class*=mat-elevation-z]),
::ng-deep .dark-theme-mode .mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.content {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
  min-width: 100%;
  background-image: linear-gradient(to top, #3f3f50, #383847, #31313f, #2b2b36, #24242e);
  color: white;
  top: 0;
  bottom: 0;


}


.title,
.title2 {
  margin: 1rem;
  font-size: 6rem;
  font-family: 'Roboto';
  font-weight: bolder;
  text-shadow:
    1px -0.5px 1px #37a6b7,
    1.5px -1px 1px #37a6b7,
    2px -1.5px 1px #37a6b7,
    2.5px -2px 1px #37a6b7,
    3px -2.5px 1px #37a6b7,
    3.5px -3px 1px #37a6b7,
    4px -3.5px 1px #37a6b7,
    4.5px -4px 1px #37a6b7,
    5px -4.5px 1px #37a6b7,
    5.5px -5px 1px #37a6b7;


  color: #4fe5f3;
}

.title2 {

  text-shadow:
    1px -0.5px 1px #b63784,
    1.5px -1px 1px #b63784,
    2px -1.5px 1px #b63784,
    2.5px -2px 1px #b63784,
    3px -2.5px 1px #b63784,
    3.5px -3px 1px #b63784,
    4px -3.5px 1px #b63784,
    4.5px -4px 1px #b63784,
    5px -4.5px 1px #b63784,
    5.5px -5px 1px #b63784;


  color: #f24fe6;
}

button {
  margin: 3rem;
  text-align: center;
  width: fit-content;
  font-size: x-large;
  padding: 1rem 2rem;
}

.toggle-container {
  margin: 1em;
}

.reminder {
  width: 50%;
}

.card-container {
  position: relative;
  height: 35em;
  width: 30em;
  margin: 5em;
}

app-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: transform 300ms;

}

.border,
.dark-border {


  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, #4FE5F3 50%, #4FE5F3 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;
  padding: 1%;
  transition: 300ms;

  animation: shine 4s linear infinite;
}

.dark-border {
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(to right, #424242 20%, #424242 40%, #f24fe6 50%, #f24fe6 55%, #424242 70%, #424242 100%);
  background-size: 200% auto;
  padding: 1%;
  transition: 300ms;

  animation: shine 4s linear infinite;

}

/*Begin shimmer code*/

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

fff app-card:nth-last-child(1) {
  --y: calc(-50% + 20px);
  transform: translate(-50%, var(--y)) scale(1.05);
  box-shadow: 5px 0px 9px 8px rgb(0 0 0 / 50%);
}

app-card:nth-last-child(2) {
  --y: calc(-50%);
  transform: translate(-50%, var(--y)) scale(1);
  box-shadow: 5px 0px 9px 8px rgb(0 0 0 / 50%);

}

app-card:nth-last-child(3) {
  --y: calc(-50% - 20px);
  transform: translate(-50%, var(--y)) scale(.95);
  box-shadow: 5px 0px 9px 8px rgb(0 0 0 / 50%);

}

app-card:nth-last-child(n+4) {
  --y: calc(-50% - 40px);
  transform: translate(-50%, var(--y)) scale(.9);


}



@keyframes swap {
  40% {
    transform: scale3d(1.475, 1.475, 1.475) translate3d(22px, 0, 0);
    opacity: 1
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: scale(1.1) translate3d(300px, 0, 0);
    opacity: 0;
  }


}




/* Responsive Styles */
@media screen and (max-width: 500px) {

  .title,
  .title2 {
    font-size: 3rem;
  }

  button {

    font-size: large;

  }

  .card-container {
    position: relative;
    height: 20em;
    width: 15em;
    margin: 5em;
  }
}

@media screen and (max-width: 1440px) and (min-width: 501px) {

  .title,
  .title2 {
    font-size: 5rem;
  }

  .card-container {
    position: relative;
    height: 30em;
    width: 25em;
    margin: 5em;
  }

}

@media screen and (max-width: 2000px) and (min-width: 1441px) {

  .title,
  .title2 {
    font-size: 5rem;
  }

  .card-container {
    position: relative;
    height: 30em;
    width: 25em;
    margin: 2em;
  }

}
