.dark-theme-mode.mat-app-background {
  background-image: linear-gradient(
    to top,
    #350141,
    #2f023b,
    #290335,
    #23022f,
    #1f0029
  );
  color: white;
}

.dark-theme-mode .mat-raised-button.mat-primary {
  color: white;
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]),
::ng-deep .dark-theme-mode .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

::ng-deep .content {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 100%;
  background-image: linear-gradient(
    to top,
    #3f3f50,
    #383847,
    #31313f,
    #2b2b36,
    #24242e
  );
  color: white;
  top: 0;
  bottom: 0;

  position: absolute;
}

::ng-deep body {
  overscroll-behavior: contain;
  margin: 0;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 3rem;
  text-align: center;
  width: fit-content;
  font-size: x-large;
  padding: 1rem 2rem;
}

.border,
.dark-border {
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #fff 20%,
    #fff 40%,
    #4fe5f3 50%,
    #4fe5f3 55%,
    #fff 70%,
    #fff 100%
  );
  background-size: 200% auto;
  padding: 1%;
  transition: 300ms;

  animation: shine 4s linear infinite;
}

.dark-border {
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #424242 20%,
    #424242 40%,
    #f24fe6 50%,
    #f24fe6 55%,
    #424242 70%,
    #424242 100%
  );
  background-size: 200% auto;
  padding: 1%;
  transition: 300ms;

  animation: shine 4s linear infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea,
input {
  resize: none;

  transition: 800ms;
  max-width: 300px;
  max-height: 180px;
  width: 300px;
  height: 180px;
  border-radius: 15px;
  padding: 1rem;

  font-size: large;
  font-family: sans-serif;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #00000095;
}

input {
  margin: 1rem;
  width: unset;
  height: unset;
}

p {
  font-family: sans-serif;
  font-weight: 900;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

img {
  transition: 800ms;
  width: 35rem;
  height: 35rem;
}

.bColor {
  background-color: orange;
}

/* Responsive Styles */
@media screen and (max-width: 500px) {
  img {
    transition: 800ms;
    width: 20rem;
    height: 20rem;
  }

  button {
    font-size: large;
  }

  .card-container {
    position: relative;
    height: 20em;
    width: 15em;
    margin: 40% 5em 5em;
  }
}

@media screen and (max-width: 1440px) and (min-width: 501px) {
  img {
    transition: 800ms;

    width: 25rem;
    height: 25rem;
  }

  .card-container {
    position: relative;
    height: 30em;
    width: 25em;
    margin: 20% 5em 5em;
  }

  textarea {
    transition: 800ms;
    max-width: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1441px) {
  img {
    transition: 800ms;

    width: 25rem;
    height: 25rem;
  }

  .card-container {
    position: relative;
    height: 30em;
    width: 25em;
    margin: 10% 5em 5em;
  }

  textarea {
    transition: 800ms;
    max-width: 500px;
    width: 500px;
  }
}
