<div
  class="container mat-app-background mainView"
  role="main"
  [ngClass]="{ 'dark-theme-mode': this.gloVarService.isDarkTheme }"
>
  <img src="../../../assets/icons/RENDER.png" alt="" (click)="back()" />

  <strong *ngIf="notValid == true">Please use at least 2 players</strong>

  <form [formGroup]="allNames" (ngSubmit)="submit()">
    <div
      formArrayName="items"
      *ngFor="let field of allNames.get('items')['controls']; let i = index"
    >
      <div [formGroupName]="i">
        <input
          formControlName="name"
          type="text"
          placeholder="Palyer {{ i + 1 }}"
        />
        <button mat-raised-button class="closeBtn" (click)="removeField(i)">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </form>

  <button
    mat-raised-button
    class="gamebtns"
    color="primary"
    (click)="addNext()"
  >
    Add Player
  </button>

  <button mat-raised-button class="gamebtns" color="primary" (click)="submit()">
    START
  </button>

  <p class="reminderText">
    Friendly reminder to drink responsibly. Alcohol abuse is a real danger, by
    continuing you acknowledge to be responsible for the consequences that may
    happen. Somebody loves you, so be careful and come home safely.
  </p>
</div>
