/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: white;

}

::ng-deep .custom-bottom-sheet {
  color: white;
  font-size: large;
  background-color: #3f3f50 !important;
}
