/* You can add global styles to this file, and also import other style files */

html,
body {

  margin: 0;
  border: 0;
  touch-action: manipulation;
  padding-top: env(safe-area-inset-top) !important;
  padding-right: env(safe-area-inset-right) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  min-height: calc(100% + env(safe-area-inset-top)) !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;






}



body {

  background-color: rgb(63, 63, 80);

  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: white;

}

.mainView {

  /* 
  min-height: calc(100% + env(safe-area-inset-top)) !important; 
  padding: env(safe-area-inset-top + 20px) env(safe-area-inset-right + 20px) env(safe-area-inset-bottom + 20px) env(safe-area-inset-left + 20px) !important;
  */
  padding-top: env(safe-area-inset-top + 20px) !important;
  padding-right: env(safe-area-inset-right) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

::ng-deep .custom-bottom-sheet {
  color: white;
  font-size: large;
  background-color: #3f3f50 !important;
}

.snackbar {
  background-color: rgba(77, 77, 77, 0.2);
  backdrop-filter: blur(5px);
  color: orange;
  font-weight: bolder;
  text-align: center;
}

simple-snack-bar span {
  margin: auto;
  text-align: center;
}
