/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(0, 0, 0);
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .img {
    margin: 0.3rem;
    margin-top: 5rem;
    width: 20vw;
  }
}
