/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(48, 50, 52);
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .img {
    margin: 0.3rem;
    width: 20vw;
  }

  .imgHaku {
    height: 10vh;
  }

  .imgRabbit {
    height: 9vh;
  }
}
