/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ff0000;
  --f7-theme-color-rgb: 255, 0, 0;
  --f7-theme-color-shade: #d60000;
  --f7-theme-color-tint: #ff2929;
}

/* Your app custom styles here */

.player {


  background-image: url("../assets/spaceship-pixel-art-maker-340915.png");
  height: 4em;
  width: 3em;
  background-color: white;
  position: absolute;  
	top: 80%;
  left: 50%;   
  background-size: contain;
  background-repeat: no-repeat;

}

.header {

  width: 100%;
  display: flex;
}

.headerL {
  width: 30%;
  margin-left: 5%;

}

.headerM {
  width: 30%;
  text-align: center;

}

.headerR {
  text-align: right;
  width: 30%;
  margin-right: 5%;
}

body {
  background-color: black;
}
.page, #app {
  background-image: url("../assets/Stars.png");
  background-repeat: no-repeat;
  background-size: 90% auto;
  
  margin: 0em;
  padding: 0em;
}

.hinder {
	position: absolute;
	top: 6%;
	height: 4vw;
	width: 30vw;
	background-size: contain;
	background-color: none;
	border: solid 1px white;
}

#hinder_2 {
	right: 0vw;
	
}

#hinder_1 {
	left: 0vw;
	
}



/* ls het scherm een breedte kleiner dan 800 pixels heeft. */

@media screen and (min-width: 1000px) {
  
  #app {

    width: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid white 3pt
  }

  .spaceShip {
		height: 10vw;
		width: 10vw;
		position: absolute;
		top: 80%;
	}

	.hinder {
    height: 4vw;
    width: 10vw;;
  }
  
  #player {
		width: 8em;
    height: 10em;
		position: absolute;
		top: 80%;
	}

}
